.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.gradient-green {
    background-image: linear-gradient(to bottom, #7cdd55, #2EB62C);
    border-radius: 6px;
}
.gradient-red {
    background-image: linear-gradient(to bottom, #f52424, #590b04);
    border-radius: 6px;
}