{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="container">
            <div class="row">
              <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
          
                <div class="row">
                    <div class="col-md-6 table">
                    {{ wtf.quick_form(form, horizontal_columns=(inline, 50, 50), form_type="horizontal", button_map={'submit': 'primary'}) }}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>{{ items }}</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Internal Url</th>
                        <th>External Url</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                     <tr>
                        <td>{{ item['id'] }}</td> 
                        <td>{{ item['name'] }}</td>
                        <td>{{ item['category'] }}</td>
                        <td>{{ item['description'] }}</td>
                        <td>{{ item['internal_url'] }}</td>
                        <td>{{ item['external_url'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}