{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

          <div class="row">
              <div class="col-md-6 table">
              <form method="post" enctype="multipart/form-data">
                  {{ form.csrf_token }}
                  <p><div>{{ form.name.label }} {{ form.name() }}</div></p>
                  <p>{{ form.category.label }} {{ form.category() }}</p>
                  <p>{{ form.description.label }} {{ form.description() }}</p>
                  <p>{{ form.internal_url.label }} {{ form.internal_url() }}</p>
                  <p>{{ form.external_url.label }} {{ form.external_url() }}</p>
                  <p>{{ form.icon.label }} {{ form.icon(list="icons") }}</p>
                  <p>{{ form.tags.label }} {{ form.tags(list="taglist") }}</p>
                  <p>{{ form.extras.label }} {{ form.extras() }}</p>
                  <p><input type="submit" value="Save"></p>
              </form>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
<datalist id="icons">
    {% for icon in icons %}
      <option value="{{ icon }}"></option>
    {% endfor %}
</datalist>
<datalist id="taglist">
    {% for tag in tags %}
      <option value="{{ tag }}"></option>
    {% endfor %}
</datalist>
{% endblock %}

