{% extends 'base.html' %}

{% block content %}
<section class="main" style="margin-bottom: 30px;">
    <div class="wrapper">
      <span>Tag:</span>
      <select id='myTags'>
        <option value="">Filter by Tag</option>
        {% for tag in tags %}
          <option value="{{ tag['tag'] }}">{{ tag['tag'] }}</option>
        {% endfor %}
      </select>
    
      <span>Category:</span>
      <select id='myCategories'>
        <option value="">Filter by Category</option>
        {% for cat in categories %}
          <option class="{{ cat['cat'] }}" value="{{ cat['cat'] }}">{{ cat['cat'] }}</option>
          <h3>{{ cat['cat'] }}</h3>
        {% endfor %}
      </select>
      <span>Search:</span>
      <input type="text" id="mySearch" placeholder="Search">
    </div>
</section>
{% if apps|length > 0%}
<div class="row">
  {% for app, tags in apps.items() %}
  
  <div id="myList">
      <div class="card-content p-2">
        <a href="{{ app['internal_url'] }}" class="card-text" target="_blank">
          
          <h4 class="card-content">
            <span><img src="{{ app['icon'] }}" alt="Logo" width="30" height="30"></span>
            {{ app['name'] }}
            <span id="{{ app['name'] }}" class="dot gradient-red"></span>
          </h4>
        </a>
        <h5><span class="badge" id="{{ app['category'] }}">{{ app['category'] }}</span></h5>
          {% for tag in tags %}
              <span class="badge badge-dark">{{ tag['tag'] }}</span>
          {% endfor %}
      </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
