{% extends 'base.html' %}

{% block extrameta %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
<section class="main" style="margin-bottom: 30px;">
    <div class="wrapper">
      <span>Tag:</span>
      <select id='myTags'>
        <option value="">Filter by Tag</option>
        {% for tag in tags %}
          <option value="{{ tag['tag'] }}">{{ tag['tag'] }}</option>
        {% endfor %}
      </select>
    
      <span>Category:</span>
      <select id='myCategories'>
        <option value="">Filter by Category</option>
        {% for cat in categories %}
          <option value="{{ cat['cat'] }}">{{ cat['cat'] }}</option>
          <h3>{{ cat['cat'] }}</h3>
        {% endfor %}
      </select>
      <span>Search:</span>
      <input type="text" id="mySearch" placeholder="Search">
    </div>
</section>
<div class="row">
  {% for app, tags in apps.items() %}
  
  <div class="col-xl-3 col-sm-6 col-12" id="myList">
    <div class="card">
      <div class="card-content p-2">
        <a href="{{ app['internal_url'] }}" class="card-text" target="_blank">
          <h4 class="card-content">{{ app['name'] }}
            <span id="{{ app['name'] }}" class="dot gradient-red"></span>
          </h4>
        </a>
        <p>{{ app['category'] }}</p>
          {% for tag in tags %}
              <span class="badge badge-dark">{{ tag['tag'] }}</span>
          {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
