{% extends 'base.html' %}

{% block content %}
<table>
    <TR>
       <TH>Name</TH>
       <TH>Category</TH>
       <TH>Description</TH>
       <TH>Icon</TH>
       <TH>Local URL</TH>
       <TH>URL</TH>
       <TH>Extras</TH>
       <TH>Tags</TH>
    </TR>
    {% for app, tags in apps.items() %}
    <TR>
       <TD>{{ app['name'] }}</TD>
       <TD>{{ app['category'] }}</TD>
       <TD>{{ app['description'] }}</TD>
       <TD>{{ app['icon'] }}</TD>
       <TD>{{ app['internal_url'] }}</TD>
       <TD>{{ app['external_url'] }}</TD>
       <TD>{{ app['extra'] }}</TD>
       <TD>{% for tag in tags %}
        {{ tag['tag'] }}{{ ", " if not loop.last else "" }}
      {% endfor %} </TD>
        <TD><a href="{{ url_for('edit', id=app['id']) }}">Edit</a></TD>
    </TR>
    {% endfor %}
    </table>
{% endblock %}  


  