<div class="col-md-auto">
                <a class="text-center" href="/panel_edit/?edit=Hypervisors%2fContainers"><h5>Hypervisors/Containers</h5></a>



                <p>
                <a href="https://192.168.23.1:8443" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/bk600i.png" style="height:1.3em;">&nbsp;

                        OPNSense
                    </button>
                </a>

                <a href="http://192.168.23.1:8443" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-off"></i>

                    </button>
                </a>

                </p>

                <p>
                <a href="https://192.168.200.101:8443" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/aawe3e.png" style="height:1.3em;">&nbsp;

                        Unify
                    </button>
                </a>

                <a href="http://192.168.200.101:8443" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-on"></i>

                    </button>
                </a>

                </p>

                <p>
                <a href="https://192.168.200.201:8006" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/v2zd7n.png" style="height:1.3em;">&nbsp;

                        PVE1
                    </button>
                </a>

                <a href="http://192.168.200.201:8006" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-on"></i>

                    </button>
                </a>

                </p>

                <p>
                <a href="https://192.168.200.202:8006" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/v2zd7n.png" style="height:1.3em;">&nbsp;

                        PVE2
                    </button>
                </a>

                <a href="http://192.168.200.202:8006" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-on"></i>

                    </button>
                </a>

                </p>

                <p>
                <a href="https://192.168.200.203:8006" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/v2zd7n.png" style="height:1.3em;">&nbsp;

                        PVE3
                    </button>
                </a>

                <a href="http://192.168.200.203:8006" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-on"></i>

                    </button>
                </a>

                </p>

                <p>
                <a href="https://192.168.200.49/" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/qpwadw.png" style="height:1.3em;">&nbsp;

                        OMV
                    </button>
                </a>

                <a href="http://192.168.200.49:443" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-on"></i>

                    </button>
                </a>

                </p>

                <p>
                <a href="https://192.168.200.19/" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/qpwadw.png" style="height:1.3em;">&nbsp;

                        OMV Orangane
                    </button>
                </a>

                <a href="http://192.168.200.19:443" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-on"></i>

                    </button>
                </a>

                </p>

                <p>
                <a href="https://192.168.200.44:9443" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/5qxry8.png" style="height:1.3em;">&nbsp;

                        Portainer
                    </button>
                </a>

                <a href="http://192.168.200.44:9443" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-on"></i>

                    </button>
                </a>

                </p>

                <p>
                <a href="https://sphl.cloud/yunohost/admin/" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/1z2ajm.png" style="height:1.3em;">&nbsp;

                        YunoHost
                    </button>
                </a>

                <a href="http://192.168.200.41:443" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-on"></i>

                    </button>
                </a>

                </p>

                <p>
                <a href="https://192.168.23.1:3430/lua/os_stats.lua" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/gtxrs4.png" style="height:1.3em;">&nbsp;

                        NtopNg
                    </button>
                </a>

                <a href="http://192.168.23.1:3430" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-off"></i>

                    </button>
                </a>

                </p>

                <p>
                <a href="http://192.168.200.44:7575/board" target="_blank">

                    <button class="btn btn-primary my-btn-width" type="button">

                        <img src="https://imgs.sphl.cloud/xecufl.png" style="height:1.3em;">&nbsp;

                        Homarr
                    </button>
                </a>

                <a href="http://192.168.22.44:7575" target="_blank">
                    <button class="btn btn-primary">

                        <i class="bi bi-circle-fill my-col-off"></i>

                    </button>
                </a>

                </p>

            </div>