{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Hommy {% endblock %}</h1>
    {% for app, tags in apps.items() %}
        <div class="card" style="width: 18rem; margin-bottom: 50px;">
            <div class="card-header">
                <h3>{{ app['name'] }}</h3>
            </div>
            <a href="{{app['internal_url']}}" target="_blank">Open</a>
            <ul class="list-group list-group-flush">
                {% for tag in tags %}
                    <li class="list-group-item">{{ tag['tag'] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
