
<!DOCTYPE html> 
<html> 
    <head> 
        <title>Hommy Dashboard </title> 
    </head> 
    <style> 
        table, th, td { 
          border:1px solid black; 
        } 
        </style> 
    <body> 
        <table style="width:100%"> 
            <tr> 
              <th>App</th> 
              <th>Link</th> 
              <th>Icon</th> 
              <th>Desciption</th> 
            </tr> 
            {%for app in apps%} 
               <tr> 
                 <td>{{app[0]}}</td> 
                 <td>{{app.internal_url}}</td> 
                 <td>{{app[icon]}}</td> 
                 <td>{{app[description]}}</td> 
                </tr> 
            {%endfor%} 
          </table>           
    </body> 
</html> 
